/* filepath: /home/kismath/Workspace/birthday_wish/src/styles/App.scss */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }

  button {
    text-transform: none;
  }
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }